<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dna">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginKlikDna"></activity>
        <activity android:name=".Verifikasi_via_nomor_telfon" />
        <activity android:name=".Masuk_via_nomer_telfon" />
        <activity android:name=".BuatAkundifacebook" />
        <activity android:name=".Terhubung_facebook" />
        <activity android:name=".Success_regisAct" />
        <activity android:name=".Susscess_Registrasi" />
        <activity android:name=".Edit_Profile" />
        <activity android:name=".CodeVerivikasi" />
        <activity android:name=".onbroadingAct" />
        <activity android:name=".DaftarAct" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>